/**
 * Main styles.css for Project Board
 * 
 * Author: 	Maria D. Kelly
 * Date:	July 2015
 */

body {
  padding-top: 50px;
}

#project-board {
  position:relative;
}

.projectBoard {
  position:absolute;
  top: 0;
  left: 0;
}

.main-content {
  padding: 40px 15px;
}

/** For Loading Icon **/
#loading {
	border-radius: 6px;
	background-color: #ccc;
	padding: 40px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
/*******************/

th.status {
	width: 60%;
}

/*td {
	white-space: pre;
}
*/
td.stage,
td.status {
  cursor: pointer;
}

.edit-btn {
  display: none;
}

.actions .btn {
  margin-right: 3px;
}

.actions .btn.pull-right:first-child {
  margin-right: 0;
}

td:hover .edit-btn {
  display: block;
}

.return-btn,
.add-btn {
   border-radius: 30px;
   width: 35px;
   height: 35px;
   text-align:center;
   padding: 6px 7px;
}

.return-btn {
  padding: 6px 2px 0 0;
}

/*mark {
  background-color: yellow;
}*/

.status-saving {
  text-align: center;
}

/** ---- CSS3 Animations ---- */
.detailedBoard-appear,
.mainBoard-appear {
  opacity: 0.01;
  transition: opacity 0.7s ease-in;
}

.detailedBoard-appear.detailedBoard-appear-active,
.mainBoard-appear.mainBoard-appear-active {
  opacity: 1;
}

.detailedBoard-leave {
  left: 0;
}

.detailedBoard-leave.detailedBoard-leave-active {
  left: -150%;
  transition: left .4s ease-in;
}

.detailedBoard-enter {
  left: 150%;
}

.detailedBoard-enter.detailedBoard-enter-active {
  left: 0;
  transition: left .4s ease-in;
}

.mainBoard-enter {
  left: -150%;
}

.mainBoard-enter.mainBoard-enter-active {
  left: 0;
  transition: left .4s ease-in;
}

.mainBoard-leave {
  left: 0;
}

.mainBoard-leave.mainBoard-leave-active {
  left: 150%;
  transition: left .4s ease-in;
}
